.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 6rem;
  min-height: 130vh;
  font-family: 'inter', sans-serif;
  background: rgb(24, 24, 24);
  background: linear-gradient(0deg, rgba(24, 24, 24, 1) 0%, rgba(54, 46, 71, 1) 100%);
  top: 0;
  left: 0;
  z-index: -1;
}

.logoCont {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.logo {
  width: 30px;
  height: 30px;
  display: flex;
}

.logoText {
  margin-bottom: 100px;
  display: flex;
  font-size: 25px;
  font-weight: 600;
  margin-left: 20px;
}

/* Homepage / Landing */
.landingCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 67px;
}

.h1 {
  display: flex;
  font-size: 50px;
  font-weight: 600;
  padding: 0 0px 100px 0px;
  color: white;
  width: 70%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background-color: #A49EED;
  color: black;
  font-size: 16px;
  font-weight: 550;
  border: none;
}

.button:hover {
  background-color: #4C4692;
  color: white;
}

.featuredCont {
  border: #5B5B5B 1px solid;
  border-radius: 30px;
  padding: 100px 200px 30px 30px;
  height: 220px;
  background-image: url("../public/taeyeon.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featuredText {
  font-size: 12px;
  font-weight: 300;
  padding-top: 50px;
}

.featuredArtist {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.likeCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

.heart {
  background-color: rgba(255, 0, 0, 0);
  background-image: url("/heart.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 30px;
  height: 30px;
}

.likes {
  padding-left: 20px;
}

/* Featured Songs (Taeyeon's Songs) */

.featuredSongs {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  width: 100%;
  padding-top: 30px;
}

.featuredTitleCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 18px 0px 18px 0px;
}

.featuredTitleNumber {
  display: flex;
  width: 50px;
  font-size: 14px;
  color: rgb(195, 195, 195);
}

.featuredTitlePlays {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  padding: 0 30px 0 30px;
  width: 0;
  color: rgb(195, 195, 195);
}

.featuredTitleSong {
  display: flex;
  width: 140px;
  font-size: 18px;
  font-weight: 700;
}

/* Top Hits Page: Header Section */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px 30px 0px;
}

.backButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40px;
}

.heading {
  display: flex;
  font-size: 50px;
  font-weight: 600;
  padding: 0 50px 100px 0px;
  color: white;
}

.imageCont {
  border: #5B5B5B 1px solid;
  border-radius: 30px;
  padding: 100px 200px 30px 30px;
  height: 220px;
  background-image: url("../public/mileycyrus.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topSong,
.topSongArtist {
  font-size: 12px;
  font-weight: 300;
}

.topSong {
  padding-top: 40px;
}

.topSongName {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

/* List of Artists Section*/

.songsCont {
  height: 500px;
  overflow: scroll;
}

.title {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  padding: 0 50px 0 50px;
  color: white;
}

.titleCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px 18px 0px;
}

.line {
  border: 1px solid white;
  width: 100%;
}

.thinLine {
  border: 0.1px solid #5B5B5B;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-left: 30px;
  padding-top: 20px;
}

.rank {
  padding-bottom: 10px;
  display: flex;
  font-size: 16px;
  display: flex;
  padding: 20px;
}

.songName {
  padding: 20px;
}

.songArtist {
  padding: 20px;
}

.songPlays {
  padding: 20px;
}

/* music player section */
.playerCont {
  display: flex;
  position: fixed;
  flex-direction: column;
  background: rgb(68, 69, 69);
  background: linear-gradient(180deg, rgba(68, 69, 69, 0.455641631652661) 0%, rgba(22, 22, 24, 1) 74%);
  box-shadow: rgb(24, 24, 24);
  bottom: 0;
  width: 100%;
  left: 0;
}

.playerButtonCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px 10px 0px;

}

.shuffle,
.previous,
.next,
.repeat {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 20px;
  height: 20px;
}

.shuffle {
  background-image: url("/shuffle.svg");
}

.previous {
  background-image: url("/previous.svg");
}

.next {
  background-image: url("/next.svg");
}

.repeat {
  background-image: url("/repeat.svg");
}

.play,
.pause {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 50px;
}

.play {
  background-image: url("/playbutton.svg");
}

.pause {
  background-image: url("/pausebutton.svg");
}

.timeCont {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.time {
  display: flex;
  font-size: 12px;
  font-weight: 300;
  color: white;
  height: 40px;
  padding: 0 20px 0 20px;
}

.progress {
  width: 600px;
  height: 5px;
  background-color: #A49EED;
}

/* Media Queries  */

/* iPad Air between 600px and 1000px */
@media (min-width: 600px) and (max-width: 1000px) {

  /* homepage */
  .h1 {
    font-size: 30px;
    padding: 0 0 40px 0;
  }

  .featuredCont {
    padding: 50px;
  }

  .featuredText {
    padding-top: 100px;
  }

  /* Top Hits Page */
  .main {
    min-height: 100vh;
  }

  .heading {
    font-size: 40px;
  }
}

/* iPhone XR under 600px */
@media (max-width: 600px) {

  /* homepage */
  .main {
    padding: 3rem;
  }

  .h1 {
    font-size: 24px;
    padding: 0 0 40px 0;
  }

  .landingCont {
    flex-direction: column;
  }

  .featuredCont {
    width: 320px;
  }

  .featuredText {
    padding-top: 40px;
  }

  .featuredSongs {
    padding: 20px 0 0 0;
  }

  .featuredTitleCont {
    width: 100px;
  }

  .featuredTitlePlays {
    padding: 0 0 0 0px;
  }

  .likeCont {
    width: 200px;
  }

  /* Top Hits Page */
  .heading {
    font-size: 30px;
  }

  .titleCont {
    justify-content: center;
  }

  .title {
    padding: 0 30px 0 30px;
  }

  .songName,
  .songArtist,
  .songPlays {
    margin: auto;
    padding: auto;
  }

  .list {
    justify-content: center;
  }

  .imageCont {
    padding: 80px 30px 0px 20px;
  }
}