.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 6rem;
  min-height: 100vh;
  font-family: 'inter', sans-serif;
  background: rgb(24, 24, 24);
  background: linear-gradient(0deg, rgba(24, 24, 24, 1) 0%, rgba(54, 46, 71, 1) 100%);
  top: 0;
  left: 0;
  z-index: -1;
}

.logoCont {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.logo {
  width: 30px;
  height: 30px;
  display: flex;
}

.logoText {
  margin-bottom: 100px;
  display: flex;
  font-size: 25px;
  font-weight: 600;
  margin-left: 20px;
}

/* Top Hits Page: Header Section */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px 30px 0px;
}

.backButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40px;
}

.heading {
  display: flex;
  font-size: 50px;
  font-weight: 600;
  padding: 0 50px 100px 0px;
  color: white;
}

.imageCont {
  border: #5B5B5B 1px solid;
  border-radius: 30px;
  padding: 100px 200px 30px 30px;
  background-image: url("../public/mileycyrus.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topSong,
.topSongArtist {
  font-size: 12px;
  font-weight: 300;
}

.topSongName {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

/* List of Artists Section*/

.songsCont {
  height: 500px;
  overflow: scroll;
}

.title {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  padding: 0 50px 0 50px;
  color: white;
}

.titleCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px 18px 0px;
}

.line {
  border: 1px solid white;
  width: 100%;
}

.thinLine {
  border: 0.1px solid #5B5B5B;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-left: 30px;
  padding-top: 20px;
}

.rank {
  padding-bottom: 10px;
  display: flex;
  font-size: 16px;
  display: flex;
  padding: 20px;
}

.songName {
  padding: 20px;
}

.songArtist {
  padding: 20px;
}

.songPlays {
  padding: 20px;
}